@import '../../styles/themes';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  color: #ffffff;
  // justify-content: space-between;
  // align-items: center;

  .footer {
    font-size: 2rem;
    width: inherit;
    color: inherit;
    &__sepatator {
      margin-top: 48px;
      height: 1px;
      background-color: #ffffff;
    }
    &__captions {
      margin-top: 24px;
      margin: 24px 12px;
      font-size: 8px;
      color: inherit;
    }
    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .footer {
      // font-size: 1.5rem;
    }
  }
}
