<section class="home__container">
  <div class="home__wrapper">
    <h5 class="home__title">Home</h5>
    <div class="home__subtitle">
      <span> Welcome Back User Name!</span>
    </div>

    <div class="home__overview">
      <h6 class="home__overview-title">Overview</h6>
      <div class="home__overview-widgets">
        <div class="row">
          <div class="col-xxl-5">
            <nb-card>
              <nb-card-header>
                <div>
                  <div class="home__overview__card-header">
                    <span> XXXX XXX Overview </span>
                    <div class="icon-container">
                      <i class="far fa-circle"></i>
                      <i class="fas fa-info"></i>
                    </div>
                    <div class="last-7-days-external-link">
                      <button nbButton>
                        <span>LAST 7 DAYS</span
                        ><i class="fas fa-external-link-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="home__overview__card-body">
                  <div class="subtitle-container">
                    <div class="subtitle-text">
                      <span> Sub-title goes here </span>
                    </div>
                    <div class="content-container">
                      <div class="avatar">
                        <i class="fas fa-circle"></i>
                      </div>
                      <div class="content">
                        <span>XXX</span>
                      </div>
                    </div>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-text">
                      <span> Sub-title goes here </span>
                    </div>
                    <div class="content-container">
                      <div class="avatar">
                        <i class="fas fa-circle"></i>
                      </div>
                      <div class="content">
                        <span>XXX</span>
                      </div>
                    </div>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-text">
                      <span> Sub-title goes here </span>
                    </div>
                    <div class="content-container">
                      <div class="avatar">
                        <i class="fas fa-circle"></i>
                      </div>
                      <div class="content">
                        <span>XX</span>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-xxl-5">
            <div class="row">
              <div class="col-md-6">
                <nb-card class="chart-pie-card">
                  <nb-card-header>
                    <div>
                      <div class="home__overview__card-header">
                        <span> XXXX </span>
                        <div class="icon-container">
                          <i class="far fa-circle"></i>
                          <i class="fas fa-info"></i>
                        </div>
                        <div class="last-7-days-external-link">
                          <button nbButton>
                            <span>LAST 7 DAYS</span
                            ><i class="fas fa-external-link-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="home__overview__card-body">
                      <div class="subtitle-container">
                        <div class="subtitle-text">
                          <span> Sub-title goes here </span>
                        </div>
                        <div class="content-container">
                          <div class="avatar">
                            <i class="fas fa-circle"></i>
                          </div>
                          <div class="content">
                            <span>XXX</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-md-6">
                <nb-card>
                  <nb-card-header>
                    <div>
                      <div class="home__overview__card-header">
                        <span> XXXX </span>
                        <div class="icon-container">
                          <i class="far fa-circle"></i>
                          <i class="fas fa-info"></i>
                        </div>
                        <div class="last-7-days-external-link">
                          <button nbButton>
                            <span>LAST 7 DAYS</span
                            ><i class="fas fa-external-link-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="home__overview__card-body">
                      <div class="subtitle-container">
                        <div class="subtitle-text">
                          <span> Sub-title goes here </span>
                        </div>
                        <div class="content-container">
                          <div class="avatar">
                            <i class="fas fa-circle"></i>
                          </div>
                          <div class="content">
                            <span>XXX</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xxl-5">
            <nb-card>
              <nb-card-header>
                <div>
                  <div class="home__overview__card-header">
                    <span> Total Shipments </span>
                    <div class="last-7-days-external-link">
                      <button nbButton>
                        <span>LAST 7 DAYS</span
                        ><i class="fas fa-external-link-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="home__overview__card-body"></div>
              </nb-card-body>
            </nb-card>
            <ngx-echarts-pie-2></ngx-echarts-pie-2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
